 body {
  margin: 0;
  padding: 0;
 }
 
 #background 
{ 
   left: 0px; 
   top: 0px; 
   position: relative; 
   margin-left: auto; 
   margin-right: auto; 
   width: 798px;
   height: 611px; 
   overflow: hidden;
   z-index:0;
  } 

 #Background 
{ 
   left: 0px; 
   top: 0px; 
   position: absolute; 
   width: 798px;
   height: 611px;
   z-index:1;
} 

 #dress2 
{ 
   left: 25px; 
   top: 220px; 
   position: absolute; 
   width: 328px;
   height: 351px;
   z-index:2;
} 

 #b9 
{ 
   left: 391px; 
   top: 390px; 
   position: absolute; 
   width: 133px;
   height: 194px;
   z-index:3;
} 

 #b8 
{ 
   left: 499px; 
   top: 409px; 
   position: absolute; 
   width: 141px;
   height: 201px;
   z-index:4;
} 

 #b7 
{ 
   left: 650px; 
   top: 412px; 
   position: absolute; 
   width: 127px;
   height: 192px;
   z-index:5;
} 

 #b6 
{ 
   left: 369px; 
   top: 210px; 
   position: absolute; 
   width: 129px;
   height: 191px;
   z-index:6;
} 

 #b5 
{ 
   left: 515px; 
   top: 219px; 
   position: absolute; 
   width: 134px;
   height: 196px;
   z-index:7;
} 

 #b4 
{ 
   left: 642px; 
   top: 205px; 
   position: absolute; 
   width: 133px;
   height: 194px;
   z-index:8;
} 

 #b3 
{ 
   left: 385px; 
   top: 12px; 
   position: absolute; 
   width: 124px;
   height: 187px;
   z-index:9;
} 

 #b2 
{ 
   left: 504px; 
   top: 22px; 
   position: absolute; 
   width: 136px;
   height: 197px;
   z-index:10;
} 

 #b1 
{ 
   left: 648px; 
   top: 13px; 
   position: absolute; 
   width: 132px;
   height: 193px;
   z-index:11;
} 

 #GOLDDUST 
{ 
   left: 95px; 
   top: 28px; 
   position: absolute; 
   width: 197px;
   height: 62px;
   z-index:12;
} 
