#c120513_MainContainer{position:relative;margin-left:auto;margin-right:auto;width:790px;height:450px;z-index:1;background-color:#FFFFFF;overflow:hidden;}
#c120513_Loader{position:absolute;width:790px;height:450px;left:0px;top:0px;background-color:#FFFFFF;z-index:1000;}
#c120513_Stage{position:absolute;width:743px;;height:450px;left:23px;top:0px;margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border:1px solid #574f48;overflow:hidden;z-index:100;}
.c120513_IntroImg{display:block;position:absolute;left:0px;top:0px;}
#c120513_IntroLineup{z-index:90;cursor:pointer;}
#c120513_IntroTitle{z-index:110;}
#c120513_IntroWhiteBlock{z-index:115;}
#c120513_IntroMask{z-index:120;}
#c120513_IntroHeartOn{z-index:130;}
#c120513_IntroHeartOff{z-index:140;}
#c120513_Footer{position:absolute;width:743px;height:27px;left:0px;bottom:0px;margin:0;padding:0;background:url(footer.aero.png) right top no-repeat #000000;z-index:100;}
#c120513_Footer img{float:left;margin:0;padding:0;cursor:pointer;}
#c120513_Scroll{position:absolute;width:2229px;height:450px;left:743px;top:0px;z-index:90;}
.c120513_Arrow{position:absolute;width:25px;height:450px;top:0px;z-index:50;cursor:pointer;visibility:hidden;}
#c120513_ArrowL{left:0px;}
#c120513_ArrowR{right:0px;}
.c120513_Slide{position:absolute;width:743px;height:450px;top:0px;z-index:100;}
#c120513_Slide1{left:0px;background:url(slide1.img.jpg) no-repeat top left;}
#c120513_Slide2{left:743px;background:url(slide2.img.jpg) no-repeat top left;}
#c120513_Slide3{left:1486px;background:url(slide3.img.jpg) no-repeat top left;}
#c120513_VideoWrapper{position:absolute;left:-800px;top:0px;margin:0;padding:0;background:url(scrim.png) left top repeat;z-index:500;}
#c120513_Vid{position:absolute;width:640px;height:390px;left:75px;top:45px;margin:0;padding:0;}
#c120513_Logo{position:absolute;width:115px;height:43px;left:638px;top:19px;margin:0;padding:0;z-index:110;background:url(logo.png) left top no-repeat;visibility:hidden;}