 #dress1
{ 
   left: 25px; 
   top: 221px; 
   position: absolute; 
   width: 353px;
   height: 381px;
   z-index:2;
} 

 #stars1
{ 
   left: 18px; 
   top: 139px; 
   position: absolute; 
   width: 352px;
   height: 493px;
   z-index:-1;
} 

 #layer_19 
{ 
   left: 391px; 
   top: 390px; 
   position: absolute; 
   width: 133px;
   height: 194px;
   z-index:4;
} 

 #layer_18 
{ 
   left: 499px; 
   top: 409px; 
   position: absolute; 
   width: 141px;
   height: 201px;
   z-index:5;
} 

 #layer_17 
{ 
   left: 650px; 
   top: 412px; 
   position: absolute; 
   width: 127px;
   height: 192px;
   z-index:6;
} 

 #layer_16 
{ 
   left: 369px; 
   top: 210px; 
   position: absolute; 
   width: 129px;
   height: 191px;
   z-index:7;
} 

 #layer_15 
{ 
   left: 515px; 
   top: 219px; 
   position: absolute; 
   width: 134px;
   height: 196px;
   z-index:8;
} 

 #layer_14 
{ 
   left: 642px; 
   top: 205px; 
   position: absolute; 
   width: 133px;
   height: 194px;
   z-index:9;
} 

 #layer_13 
{ 
   left: 385px; 
   top: 12px; 
   position: absolute; 
   width: 124px;
   height: 187px;
   z-index:10;
} 

 #layer_12 
{ 
   left: 504px; 
   top: 22px; 
   position: absolute; 
   width: 136px;
   height: 197px;
   z-index:11;
} 

 #layer_11 
{ 
   left: 648px; 
   top: 13px; 
   position: absolute; 
   width: 132px;
   height: 193px;
   z-index:12;
} 

 #ROYALBLUES 
{ 
   left: 86px; 
   top: 28px; 
   position: absolute; 
   width: 205px;
   height: 62px;
   z-index:13;
} 

 #dress2 
{ 
   left: 31px; 
   top: 220px; 
   position: absolute; 
   width: 328px;
   height: 351px;
   z-index:2;
} 

 #b9 
{ 
   left: 391px; 
   top: 390px; 
   position: absolute; 
   width: 133px;
   height: 194px;
   z-index:3;
} 

 #b8 
{ 
   left: 499px; 
   top: 409px; 
   position: absolute; 
   width: 141px;
   height: 201px;
   z-index:4;
} 

 #b7 
{ 
   left: 650px; 
   top: 412px; 
   position: absolute; 
   width: 127px;
   height: 192px;
   z-index:5;
} 

 #b6 
{ 
   left: 369px; 
   top: 210px; 
   position: absolute; 
   width: 129px;
   height: 191px;
   z-index:6;
} 

 #b5 
{ 
   left: 515px; 
   top: 219px; 
   position: absolute; 
   width: 134px;
   height: 196px;
   z-index:7;
} 

 #b4 
{ 
   left: 642px; 
   top: 205px; 
   position: absolute; 
   width: 133px;
   height: 194px;
   z-index:8;
} 

 #b3 
{ 
   left: 385px; 
   top: 12px; 
   position: absolute; 
   width: 124px;
   height: 187px;
   z-index:9;
} 

 #b2 
{ 
   left: 504px; 
   top: 22px; 
   position: absolute; 
   width: 136px;
   height: 197px;
   z-index:10;
} 

 #b1 
{ 
   left: 648px; 
   top: 13px; 
   position: absolute; 
   width: 132px;
   height: 193px;
   z-index:11;
} 

 #GOLDDUST 
{ 
   left: 95px; 
   top: 28px; 
   position: absolute; 
   width: 197px;
   height: 62px;
   z-index:12;
} 

 #dress3 
{ 
   left:30px; 
   top: 221px; 
   position: absolute; 
   width: 348px;
   height: 354px;
   z-index:2;
} 

 #c9 
{ 
   left: 391px; 
   top: 390px; 
   position: absolute; 
   width: 133px;
   height: 194px;
   z-index:3;
} 

 #c8 
{ 
   left: 499px; 
   top: 409px; 
   position: absolute; 
   width: 141px;
   height: 201px;
   z-index:4;
} 

 #c7 
{ 
   left: 650px; 
   top: 412px; 
   position: absolute; 
   width: 127px;
   height: 192px;
   z-index:5;
} 

 #c6 
{ 
   left: 369px; 
   top: 210px; 
   position: absolute; 
   width: 129px;
   height: 191px;
   z-index:6;
} 

 #c5 
{ 
   left: 515px; 
   top: 219px; 
   position: absolute; 
   width: 134px;
   height: 196px;
   z-index:7;
} 

 #c4 
{ 
   left: 642px; 
   top: 205px; 
   position: absolute; 
   width: 133px;
   height: 194px;
   z-index:8;
} 

 #c3 
{ 
   left: 385px; 
   top: 10px; 
   position: absolute; 
   width: 124px;
   height: 187px;
   z-index:9;
} 

 #c2 
{ 
   left: 504px; 
   top: 22px; 
   position: absolute; 
   width: 136px;
   height: 197px;
   z-index:10;
} 

 #c1 
{ 
   left: 648px; 
   top: 13px; 
   position: absolute; 
   width: 132px;
   height: 193px;
   z-index:11;
} 

 #hOTSPOTS 
{ 
   left: 110px; 
   top: 28px; 
   position: absolute; 
   width: 171px;
   height: 62px;
   z-index:12;
} 


 #Levels1 
{ 
   left: -15px; 
   top: 219px; 
   position: absolute; 
   width: 383px;
   height: 349px;
   z-index:2;
} 

 #d9 
{ 
   left: 391px; 
   top: 390px; 
   position: absolute; 
   width: 133px;
   height: 194px;
   z-index:3;
} 

 #d8 
{ 
   left: 499px; 
   top: 409px; 
   position: absolute; 
   width: 141px;
   height: 201px;
   z-index:4;
} 

 #d7 
{ 
   left: 650px; 
   top: 412px; 
   position: absolute; 
   width: 127px;
   height: 192px;
   z-index:5;
} 

 #d6 
{ 
   left: 369px; 
   top: 210px; 
   position: absolute; 
   width: 129px;
   height: 191px;
   z-index:6;
} 

 #d5 
{ 
   left: 515px; 
   top: 219px; 
   position: absolute; 
   width: 134px;
   height: 196px;
   z-index:7;
} 

 #d4 
{ 
   left: 642px; 
   top: 205px; 
   position: absolute; 
   width: 133px;
   height: 194px;
   z-index:8;
} 

 #d3 
{ 
   left: 385px; 
   top: 10px; 
   position: absolute; 
   width: 124px;
   height: 187px;
   z-index:9;
} 

 #d2 
{ 
   left: 504px; 
   top: 22px; 
   position: absolute; 
   width: 136px;
   height: 197px;
   z-index:10;
} 

 #d1 
{ 
   left: 648px; 
   top: 13px; 
   position: absolute; 
   width: 132px;
   height: 193px;
   z-index:11;
} 

 #SILVERSHIMMER 
{ 
   left: 56px; 
   top: 28px; 
   position: absolute; 
   width: 273px;
   height: 62px;
   z-index:12;
} 


 #dress5 
{ 
   left: 3px; 
   top: 213px; 
   position: absolute; 
   width: 378px;
   height: 382px;
   z-index:2;
} 

 #e9 
{ 
   left: 391px; 
   top: 390px; 
   position: absolute; 
   width: 133px;
   height: 194px;
   z-index:3;
} 

 #e8 
{ 
   left: 499px; 
   top: 409px; 
   position: absolute; 
   width: 141px;
   height: 201px;
   z-index:4;
} 

 #e7 
{ 
   left: 650px; 
   top: 412px; 
   position: absolute; 
   width: 127px;
   height: 192px;
   z-index:5;
} 

 #e6 
{ 
   left: 369px; 
   top: 210px; 
   position: absolute; 
   width: 129px;
   height: 191px;
   z-index:6;
} 

 #e5 
{ 
   left: 515px; 
   top: 219px; 
   position: absolute; 
   width: 134px;
   height: 196px;
   z-index:7;
} 

 #e4 
{ 
   left: 642px; 
   top: 205px; 
   position: absolute; 
   width: 133px;
   height: 194px;
   z-index:8;
} 

 #e3 
{ 
   left: 385px; 
   top: 10px; 
   position: absolute; 
   width: 124px;
   height: 187px;
   z-index:9;
} 

 #e2 
{ 
   left: 504px; 
   top: 22px; 
   position: absolute; 
   width: 136px;
   height: 197px;
   z-index:10;
} 

 #e1 
{ 
   left: 648px; 
   top: 13px; 
   position: absolute; 
   width: 132px;
   height: 193px;
   z-index:11;
} 

 #THELBD 
{ 
   left: 127px; 
   top: 28px; 
   position: absolute; 
   width: 134px;
   height: 62px;
   z-index:12;
} 