*{
  margin : 0px;
  padding : 0px; 
}
#page{
  position : absolute;
  width : 798px;
  height : 611px; 
  overflow : hidden;
}
#arrow-left{
  position : absolute;
  top : 267px;
  z-index : 10000;
  cursor : pointer;
}
#arrow-right{
  position : absolute;
  top : 267px;
  left : 770px;
  z-index : 10000;
  cursor : pointer;
}
#stars{
  position : absolute;
  top : 180px; 
  left : 20px;
}
#shop{
  position : absolute;
  left : 160px;
  top : 105px; 
  cursor : pointer
}