@font-face {
    font-family: 'AvenirUltraLight';
    src: url('../fonts/AvenirNext-UltraLight.eot');
    src: url('../fonts/AvenirNext-UltraLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AvenirNext-UltraLight.woff') format('woff'),
         url('../fonts/AvenirNext-UltraLight.ttf') format('truetype'),
         url('../fonts/AvenirNext-UltraLight.svg#AvenirBold') format('svg');
    font-weight: normal;
    font-style: normal;

}